 
.about-layout{
   margin-top: 2% ;
  padding-top: 7%;
  padding-bottom: 10%;
  
   
}
 
.home-layout{
   margin-top: 6.5% ;
  padding-top: 50%;
  padding-bottom: 30%;
    height: 70%;
  background-image: url("bakground.jpeg");
  
}
.portafolio-layout{
   margin: 1% 1% 1% 6%;
   padding-bottom: 10%;
}
.title{
  font-family:Marck Script;
    font-size:500%;
    margin-top:20%;
  color:#E0E0E0;
}
#bod{
  font-family:Saira Condensed;
}
#menu{
  color:#FFFFFF;
}
#face{
  border-style:solid;
  border-radius:50px;
   border-width: 20px;
  border-color:#eee	;
  opacity: 0.99;
}
p{
  font-size: 200%;
}
#contact{
 
  width: 22%;
  margin-left: 6%;
}
#foot{
  font-size: 200%;
}
li{
  font-size: 220%;
}
#brand-name{
  font-size: 220%;
}
#porta{
  width:25%;
  
}
#menu{
  font-size:200%;
}
/* mouse over link */

li.men:hover {
  display: block;
   background-color: #606060;
     }
ul.man li a.actived:active { 
  display: block;
   background-color: #808080;
     }
/*scale of image*/
div.tribute-page:hover {
    -ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.05, 1.05); /* Safari */
    transform: scale(1.05, 1.05);
}


