body {
    font-size: 100% !important;}
.about-layout{
   margin-top: 20px ;
  padding-top: 70px;
  padding-bottom: 100px;
  
   
}
 
.home-layout{
   margin-top: 65px ;
  padding-top: 500px;
  padding-bottom: 300px;
    height: 1000px;
  background-image: url("bakground.jpeg");
  
}
.portafolio-layout{
   margin: 10px 10px 10px 60px;
   padding-bottom: 100px;
}
.title{
  font-family:Marck Script;
    font-size:6.25em;
    margin-top:200px;
  color:#E0E0E0;
}
#bod{
  font-family:Saira Condensed;
}
#menu{
  color:#FFFFFF;
}
#face{
  border-style:solid;
  border-radius:50px;
   border-width: 20px;
  border-color:#eee	;
  opacity: 0.99;
}
.par{
  font-size: 1.56em !important;
}
#contact{
 
  width: 220px;
  margin-left: 60pz;
}
#foot{
  font-size: 1.875em;
}

    li{
  font-size: 2.00em;
}
#brand-name{
    font-size: 2.0em !important;}
#menu{
    font-size:2.0em !imporant;}
#porta{
  width:300px;
 

/* mouse over link */

li.men:hover {
  display: block;
   background-color: #606060;
     }
ul.man li a.actived:active { 
  display: block;
   background-color: #808080;
     }
/*scale of image*/
div.tribute-page:hover {
    -ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.05, 1.05); /* Safari */
    transform: scale(1.05, 1.05);
}
